/* BASIC STYLES HERE */

.car-border{
  border-width: .2em;
  border-style: solid;
}

label{
  display: block;
}

.creator-picture{
  height: 8vh;
  width: 8vh;
  border-radius: 50%;
  object-fit: cover;
}